## Compiled file# Compiled object files
#               #*.slo
#               #*.lo
#               #*.o
#               #*.obj
#               #
#               ## Precompiled Headers
#               #*.gch
#               #*.pch
#               #
#               ## Compiled Dynamic libraries
#               #*.so
#               #*.dylib
#               #*.dll
#               #
#               ## Compiled Static libraries
#               #*.lai
#               #*.la
#               #*.a
#               #*.lib
#               #
#               ## Executables
#               #*.exe
#               #*.out
#               #*.app
#               #*.i*86
#               #*.x86_64
#               #*.hex
#               #
#               ## Debug files
#               #*.dSYM/
#               #*.su
#               #*.idb
#               #*.pdb
#               #*.mod
#               #*.cmd
#               #*.d
#               #
#               ## CLion specific
#               .idea/
#               cmake-build-debug/
#               cmake-build-release/
#               #
#               ## Vcpkg related
#               #vcpkg_installed/s
cmake-build-debug/*